extends ../../../layouts/LayoutComponent

block prepend scripts
  script(src=`${CWD}vendors/lodash/lodash.min.js`)
  script(src=`${CWD}vendors/echarts/echarts.min.js`)
  script(src=`${CWD}vendors/dayjs/dayjs.min.js`)
  script(src=`${CWD}assets/js/echarts-example.js`)

block append content

  .row.g-3.mb-3
    .col-lg-6
      +ComponentCard({
        title:'Heatmap Chart',
        anchor:true
      }).h-100(dir='ltr')
        .echart-heatmap-chart-example(style="min-height: 350px;" data-echart-responsive="true")

    .col-lg-6
      +ComponentCard({
        title:'Heatmap Single Series Chart',
        anchor:true
      }).h-100(dir='ltr')
        .echart-heatmap-single-series-chart(style="min-height: 350px;" data-echart-responsive="true")



