{% extends "proxy_base.html" %}
{% block content %}

  <!-- START qloud5 REVOLUTION SLIDER 6.1.8 --><p class="rs-p-wp-fix"></p>
  <rs-module-wrap id="rev_slider_5_1_wrapper" data-alias="qloud5" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
   <rs-module id="rev_slider_5_1" style="display:none;" data-version="6.1.8">
      <rs-slides>
         <rs-slide data-key="rs-5" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
            <img src="../static/revslider/assets/transparent.png" alt="QLOUD" title="qbanner1" width="1600" height="867" data-bg="c:#eff1fe;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
            --><rs-layer
               id="slider-5-slide-5-layer-0" 
               class="textgyreadventor"
               data-type="text"
               data-color="#142149"
               data-rsp_ch="on"
               data-xy="xo:135px,96px,72px,15px;y:m;yo:-120px,-85px,-187px,-222px;"
               data-text="w:normal;s:60,42,36,36;l:80,56,50,45;fw:700;"
               data-frame_0="x:-50,-35,-26,-16;"
               data-frame_1="st:600;sp:1000;sR:600;"
               data-frame_999="o:0;st:w;sR:7400;"
               style="z-index:8;"
            > <span style="color:#007bfc">Datacenter</span><br>Dedicated Proxies
            </rs-layer><!--

            --><rs-layer
               id="slider-5-slide-5-layer-1" 
               data-type="text"
               data-color="#5e7290"
               data-rsp_ch="on"
               data-xy="xo:135px,96px,72px,21px;y:m;yo:40px,28px,-78px,-126px;"
               data-text="w:normal;s:16,11,18,12;l:32,22,30,24;"
               data-frame_0="x:-50,-35,-26,-16;"
               data-frame_1="st:900;sp:1000;sR:900;"
               data-frame_999="o:0;st:w;sR:7100;"
               style="z-index:9;"
            > Buy the fastest and the most stable IPV4 Datacenter proxies<br> you ever found in your network journey  
            </rs-layer><!--

            --><a
               id="slider-5-slide-5-layer-2" 
               class="rs-layer iq-btn-round iq-button rev-btn"
               href="https://iqonic.design/wp-themes/qloud/contact-us-2/" target="_self" rel="nofollow"
               data-type="button"
               data-rsp_ch="on"
               data-xy="xo:135px,96px,72px,24px;y:m;yo:163px,115px,14px,-46px;"
               data-text="w:normal;s:18,16,16,16;l:18,16,45,20;"
               data-dim="h:50px;minh:0px,none,none,none;"
               data-padding="t:15,15,0,15;r:30;b:15,15,0,15;l:30;"
               data-border="bor:10px,10px,10px,10px;"
               data-frame_0="x:-50,-35,-26,-16;"
               data-frame_1="st:1200;sp:1000;sR:1200;"
               data-frame_999="o:0;st:w;sR:6800;"
               data-frame_hover="bgc:#0d1e67;bor:10px,10px,10px,10px;sp:100;e:Power1.easeInOut;bri:120%;"
               style="z-index:10;background-color:#007bfc;"
            >Get started!
            </a><!--

            --><rs-layer
               id="slider-5-slide-5-layer-3" 
               class="rs-pxl-1"
               data-type="image"
               data-rsp_ch="on"
               data-xy="x:r,r,r,c;xo:0,-36px,217px,0;y:m,m,m,b;yo:13px,67px,157px,0;"
               data-text="w:normal;s:20,14,10,6;l:0,17,12,7;"
               data-dim="w:593px,388px,307px,334px;h:619px,288px,320px,349px;"
               data-frame_0="sX:0.9;sY:0.9;"
               data-frame_1="st:2000;sp:1000;sR:2000;"
               data-frame_999="o:0;st:w;sR:6000;"
               style="z-index:12;"
            ><img src="../static/revslider/assets/home52.png" alt="qloud" width="593" height="619" data-no-retina> 
            </rs-layer><!--
-->                  </rs-slide>
      </rs-slides>
      <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
   </rs-module>
<script>
if(typeof revslider_showDoubleJqueryError === "undefined") {
function revslider_showDoubleJqueryError(sliderID) {
   var err = "<div class='rs_error_message_box'>";
   err += "<div class='rs_error_message_oops'>Oops...</div>";
   err += "<div class='rs_error_message_content'>";
   err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
   err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
   err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
   err += "</div>";
err += "</div>";
   jQuery(sliderID).show().html(err);
}
}
</script>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->

  <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='../static/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="../static/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="../static/js/appear.js"></script>

    <!-- Jquery-migrate JavaScript -->
    <script src='../static/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='../static/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='../static/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='../static/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='../static/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='../static/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='../static/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='../static/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='../static/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='../static/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='../static/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='../static/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='../static/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='../static/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="../static/js/custom.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="../static/revslider/js/revolution.tools.min.js"></script>
    <script src="../static/revslider/js/rs6.min.js"></script>
            <script>
               
               var   revapi5,
                  tpj;
               jQuery(function() {
                  tpj = jQuery;
                  if(tpj("#rev_slider_5_1").revolution == undefined){
                     revslider_showDoubleJqueryError("#rev_slider_5_1");
                  }else{
                     revapi5 = tpj("#rev_slider_5_1").show().revolution({
                        jsFileLocation:"js/",
                        sliderLayout:"fullwidth",
                        visibilityLevels:"1240,1024,778,480",
                        gridwidth:"1440,1024,778,480",
                        gridheight:"870,768,650,600",
                        spinner:"spinner0",
                        editorheight:"870,768,650,600",
                        responsiveLevels:"1240,1024,778,480",
                        disableProgressBar:"on",
                        navigation: {
                           onHoverStop:false
                        },
                        parallax: {
                           levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,30],
                           type:"mouse",
                           origo:"slidercenter",
                           speed:0
                        },
                        fallbacks: {
                           allowHTML5AutoPlayOnAndroid:true
                        },
                     });
                  }
                  
               });
            </script>
              <!-- Icon-box Start -->
       <section class="icon-box-top pt-0 pb-0">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-md-6 col-sm-12 mb-lg-0 mb-5">
                     <div class="iq-icon-box iq-icon-box-style-2  active wow fadeInUp">
                         <div class="icon-box-img">
                             <img src="../static/images/icon-box/07.png" class="img-fluid" alt="qloud">
                         </div>
                         <div class="icon-box-content">
                             <h5 class="icon-box-title"> <a href="services.html">Double Access</a>
                        </h5>
                             <p class="icon-box-desc"> You can access our proxies through whitelist or user & psw.
                             </p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-12 mb-lg-0 mb-5">
                     <div class="iq-icon-box iq-icon-box-style-2  active wow fadeInUp">
                         <div class="icon-box-img">
                             <img src="../static/images/icon-box/08.png" class="img-fluid" alt="qloud">
                         </div>
                         <div class="icon-box-content">
                             <h5 class="icon-box-title"> <a href="services.html">Country Selection</a>
                        </h5>
                             <p class="icon-box-desc"> Choose the country that best fits your needs
                             </p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-12">
                     <div class="iq-icon-box iq-icon-box-style-2  active wow fadeInUp">
                         <div class="icon-box-img">
                             <img src="../static/images/icon-box/09.png" class="img-fluid" alt="qloud">
                         </div>
                         <div class="icon-box-content">
                             <h5 class="icon-box-title"> <a href="services.html">Instant Delivery</a>
                        </h5>
                             <p class="icon-box-desc"> All the orders are solved and delivered automatically
                             </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
            <!-- Icon-box Start -->
<section class="iq-pb-70">
   <div class="container">
   <div class="row">
      <div class="col-lg-12 wow fadeInUp">
         <div class="text-center iq-title-box iq-title-default iq-title-box-2">
         <div class="iq-title-icon">
         </div>
         <h2 class="iq-title">Features</h2> 
         </div>
         </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="0.2s">
         <div class="iq-icon-box iq-icon-box-style-5   iq-box-shadow">
         <div class="icon-box-content">
         <h4 class="icon-box-title"> <a href="#">HTTPS/SOCKS5</a>
         </h4>   
         <p class="icon-box-desc">You will be easily able to switch between HTTP and SOCKS5 protocol from the control panel without making a new order
         </p>
         <div class="iq-btn-container">
         </a>
         </div>
         </div>
        <div class="icon-box-img">
           <img src="../static/images/product/01.png"  class="img-fluid" alt="01s">   
        </div>
    </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="0.4s">
         <div class="iq-icon-box iq-icon-box-style-5   iq-box-shadow">
         <div class="icon-box-content">
         <h4 class="icon-box-title"> <a href="#">Private use only</a>
         </h4>   
         <p class="icon-box-desc">Each proxy you buy is assigned to you only and is not shared with anyone else.
         </p>
         <div class="iq-btn-container">
         </a>
         </div>
         </div>
         <div class="icon-box-img">
         <img src="../static/images/product/02.png"  class="img-fluid"  alt="02s">    </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="0.6s">
         <div class="iq-icon-box iq-icon-box-style-5   iq-box-shadow">
         <div class="icon-box-content">
          <h4 class="icon-box-title"> <a href="#">High Speed</a>
         </h4>   
         <p class="icon-box-desc"> Our proxies with the Gigabit network are so fast that you could forget you're using a proxy.
         </p>
         <div class="iq-btn-container">
         </div>
         </div>
         <div class="icon-box-img">
         <img src="../static/images/product/04.png"  class="img-fluid" alt="03s">    </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="0.8s">
         <div class="iq-icon-box iq-icon-box-style-5   iq-box-shadow">
         <div class="icon-box-content">
         <h4 class="icon-box-title"> <a href="#">Unlimited Bandwidth</a>
         </h4>   
         <p class="icon-box-desc"> You will get unlimited bandwidth on all your proxies without any hidden limit or fees.
         </p>
         <div class="iq-btn-container">
         </div>
         </div>
         <div class="icon-box-img">
         <img src="../static/images/product/04.png" class="img-fluid" alt="04">    </div>
         </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="0.8s" style="width:50%;margin:0 auto;">
         <div class="iq-icon-box iq-icon-box-style-5   iq-box-shadow">
         <div class="icon-box-content">
         <h4 class="icon-box-title"> <a href="#">Unlimited Threads</a>
         </h4>   
         <p class="icon-box-desc"> You will be able to use our proxies without any limit of connections, you can stress them how much you wish.
         </p>
         <div class="iq-btn-container">
         </div>
         </div>
         <div class="icon-box-img">
         <img src="../static/images/product/04.png" class="img-fluid" alt="04">    </div>
         </div>
      </div>
   </div>
   </div>
   </section>
   
<!-- Buy proxy start -->
<section>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 wow fadeInUp">
            <div class="text-center iq-title-box iq-title-default iq-title-box-2">
            <div class="iq-title-icon">
            </div>
            <h2 class="iq-title">Pricing</h2> 
            </div>
            </div>
      </div> 
      </div>

<form id="price-check" onsubmit="return false;">
<div class="container">
<div class="row">
      <div class="col-lg-4 wow fadeInUp">
         <select class="form-select" name="proxy-type" id="proxy-type"  style="border-color:white"  >
         <option value>Select proxy type..</option>
         <option value>IPV4 Datacenter dedicated proxies</option>
         <option value>IPV6 Datacenter dedicated proxies</option>
      </select>
      </div>
      <div class="col-lg-4 wow fadeInUp" >
         <select class="form-select" id="country" style="border-color:white" >
         <option value>Select country..</option>
         <option value>United States</option>
         <option value>Canada</option>
         <option value>Netherlands</option>
         <option value>Germany</option>
         <option value>Ukraine</option>
         <option value>France</option>
         <option value>Australia</option>
         <option value>Singapore</option>
         <option value>United Kingdom</option>
         <option value>Czech Republic</option>
         <option value>Russia</option>
         <option value>Turkey</option>
         <option value>Italy</option>
         <option value>Belgium</option>
         <option value>Finland</option>
         <option value>Japan</option>
         <option value>Austria</option>
         <option value>Norway</option>
         <option value>Greece</option>
         <option value>Switzerland</option>
         <option value>Spain</option>
         <option value>Sweden</option>
         <option value>Brazil</option>
         <option value>Chile</option>
         <option value>Indonesia</option>
         <option value>Moldova</option>
         <option value>Turkmeninstan</option>
         <option value>Armenia</option>
         <option value>Estonia</option>
         <option value>Slovenia</option>
         <option value>Poland</option>
         <option value>Israel</option>
      </select>
      </div>

      <div class="col-lg-4 wow fadeInUp" >
         <select class="form-select" id="rental-period" style="border-color:white">
         <option value>Select rental period..</option>
         <option value>3 days</option>
         <option value>1 week</option>
         <option value>2 weeks</option>
         <option value>1 month</option>
         <option value>2 months</option>
         <option value>3 months</option>
      </select>
   </div>
</div>
<div class="row mt-5">
   <div class="col-lg-4 wow fadeInUp">
      <input type="text" name="quantity" id="quantity" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Quantity"  style="border-color:white">
   </div>
   <div class="col-lg-4 wow fadeInUp">
      <div class="">
         <span style="font-size:19px;font-weight:bold;position:absolute;bottom:10px">Unit:  <span id="unit-price"  style="font-size:19px;font-weight:bold" >0.00</span>$</span>
      </div>
   </div>
   <div class="col-lg-4 wow fadeInUp">
      <div class="">
         <span style="font-size:19px;font-weight:bold;position:absolute;bottom:10px">Total: <span id="total-price"  style="font-size:19px;font-weight:bold" >0.00</span>$</span>
      </div>
   </div>
   <span id="signup-info" class="badge bg-danger"></span>
   <button class="btn btn-primary d-block w-100 mt-3" type="submit" style="width:98% !important;margin-right: auto;margin-left:auto; margin-top:50px !important">Check Price</button>


</form>
</div>
</section>
<!-- Buy proxy end -->

<script>
   $("#price-check").submit(function(e){
        var proxy_type = $( "#proxy-type option:selected" ).text();
        var rental_period = $( "#rental-period option:selected" ).text();
        var country = $( "#country option:selected" ).text();
        var quantity = $( "#quantity").val()
        console.log(quantity);

       
        $.ajax({
          url : '/api/price/',
          type : 'POST',
          data : {
            proxy_type : proxy_type,
            rental_period : rental_period,
            country : country,
            quantity : quantity
          },
          complete : function(response) {
             console.log(response.responseJSON.exit)
            if (response.responseJSON.status == "error"){

               if (response.responseJSON.exit == 1)
                  $("#quantity").css("border", "1px solid red");
               else
                   $("#quantity").css("border", "1px solid white");


               if (response.responseJSON.exit == 2)
                  $("#proxy-type").css("border", "1px solid red");
               else
                  $("#proxy-type").css("border", "1px solid white");


               if (response.responseJSON.exit == 3)
                  $("#country").css("border", "1px solid red");
               else  
                   $("#country").css("border", "1px solid white");



               if (response.responseJSON.exit == 4)
                  $("#rental-period").css("border", "1px solid red");
               else
                  $("#rental-period").css("border", "1px solid white");

            }

            else{
               $("#total-price").text(response.responseJSON.price);
               $("#unit-price").text(response.responseJSON.price_single);
               $("#rental-period").css("border", "1px solid white");
               $("#country").css("border", "1px solid white");
               $("#quantity").css("border", "1px solid white");
               $("#proxy-type").css("border", "1px solid white");

              console.log(response.responseJSON.info);
            }
          },
        });
      });
</script>

     
<!-- Icon-box End -->
{% endblock %}
{% block script %}
<!-- REVOLUTION JS FILES -->
<script src="../static/../static/revslider/js/revolution.tools.min.js"></script>
<script src="../static/../static/revslider/js/rs6.min.js"></script>
<script >
   var   revapi9,
   tpj;
   jQuery(function() {
   tpj = jQuery;
   if(tpj("#rev_slider_9_1").revolution == undefined){
   revslider_showDoubleJqueryError("#rev_slider_9_1");
   }else{
   revapi9 = tpj("#rev_slider_9_1").show().revolution({
   jsFileLocation:"js/",
   sliderLayout:"fullwidth",
   visibilityLevels:"1240,1240,778,480",
   gridwidth:"1600,1600,778,480",
   gridheight:"900,900,960,720",
   spinner:"spinner0",
   editorheight:"900,768,960,720",
   responsiveLevels:"1240,1240,778,480",
   disableProgressBar:"on",
   navigation: {
   onHoverStop:false
   },
   fallbacks: {
   allowHTML5AutoPlayOnAndroid:true
   },
   });
   }
   
   });
</script>
{% endblock %}