{% extends "proxy_base.html" %}
{% block content %}
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_2_1_wrapper" data-alias="qloud2" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_2_1" style="display:none;" data-version="6.1.8">
        <rs-slides>
            <rs-slide data-key="rs-2" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                <img src="../static/revslider/assets/slider2.png" alt="qloud" title="slider2" width="1178" height="845" data-parallax="off" class="rev-slidebg" data-no-retina>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-0" class="textgyreadventor" data-type="text" data-color="#007bfc" data-rsp_ch="on" data-xy="xo:136px,96px,67px,41px;y:m;yo:-119px,-100px,-274px,-254px;" data-text="w:normal;s:70,49,45,36;l:90,64,48,29;fw:700;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:600;sp:1000;sR:600;" data-frame_999="o:0;st:w;sR:7400;" style="z-index:8;">Residential Rotating
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-1" class="textgyreadventor" data-type="text" data-color="#142149" data-rsp_ch="on" data-xy="xo:137px,97px,67px,41px;yo:315px,230px,108px,105px;" data-text="w:normal;s:70,49,45,36;l:90,64,48,29;fw:700;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:800;sp:1000;sR:800;" data-frame_999="o:0;st:w;sR:7200;" style="z-index:9;">Proxies Ports
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-2" data-type="text" data-color="#5e7290" data-rsp_ch="on" data-xy="xo:137px,97px,65px,40px;yo:448px,329px,185px,163px;" data-text="w:normal;s:20,14,20,12;l:35,24,35,24;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:1000;sp:1000;sR:1000;" data-frame_999="o:0;st:w;sR:7000;" style="z-index:10;">Buy the only residential proxies in the market 
                    <br>without any kind of limitation
                </rs-layer>
                <!--
  --><a id="slider-2-slide-2-layer-3" class="rs-layer iq-button iq-btn-round rev-btn" href="http://account.skynetix.io/signup/" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="xo:130px,92px,69px,42px;yo:582px,430px,290px,247px;" data-text="w:normal;s:18,12,20,16;l:18,12,24,16;" data-dim="h:50px,35px,50px,50px;minh:0px,none,none,none;" data-padding="t:15,11,15,15;r:30,21,30,25;b:15,11,15,15;l:30,21,30,25;" data-border="bor:10px,10px,10px,10px;" data-frame_0="x:-50,-35,-26,-16;" data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;" data-frame_hover="bgc:#007aff;bor:10px,10px,10px,10px;sp:100;e:Power1.easeInOut;bri:120%;" style="z-index:11;background-color:#007bfc;text-transform:capitalize;">Start now!
  </a>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-4" data-type="image" data-rsp_ch="on" data-xy="x:r,r,r,c;xo:-45px,-21px,140px,0;y:b;yo:67px,80px,26px,21px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:614px,436px,389px,268px;h:639px,454px,405px,279px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1600;sp:1000;sR:1600;" data-frame_999="o:0;st:w;sR:6400;" style="z-index:31;"><img src="../static/revslider/assets/slider24.png" alt="qloud" width="614" height="639" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-5" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:897px,637px,278px,128px;yo:670px,476px,643px,600px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:120px,85px,64px,39px;h:103px,73px,55px,33px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2000;sp:1000;sR:2000;" data-frame_999="o:0;st:w;sR:6000;" data-loop_0="x:-5px;" data-loop_999="x:5px;sp:3000;e:Sine.easeInOut;yym:t;" style="z-index:13;"><img src="../static/revslider/assets/slider21.png" alt="qloud" width="120" height="103" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-6" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:792px,563px,198px,89px;yo:595px,423px,595px,577px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:120px,85px,64px,39px;h:103px,73px,55px,33px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2000;sp:1000;sR:2000;" data-frame_999="o:0;st:w;sR:6000;" data-loop_0="x:-5px;" data-loop_999="x:5px;sp:3000;e:Sine.easeInOut;yym:t;" style="z-index:12;"><img src="../static/revslider/assets/slider21.png" alt="qloud" width="120" height="103" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-7" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:1084px,770px,388px,202px;yo:593px,421px,600px,578px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:104px,73px,55px,33px;h:90px,64px,48px,29px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:1800;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-loop_0="y:-5px;" data-loop_999="y:5px;sp:5000;e:Sine.easeInOut;yym:t;" style="z-index:32;"><img src="../static/revslider/assets/slider23.png" alt="qloud" width="104" height="90" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-8" class="rs-pxl-1" data-type="image" data-rsp_ch="on" data-xy="xo:920px,654px,277px,122px;yo:498px,354px,536px,540px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:104px,73px,55px,33px;h:90px,64px,48px,29px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:1800;sp:1000;sR:1800;" data-frame_999="o:0;st:w;sR:6200;" data-loop_0="y:-5px;" data-loop_999="y:5px;sp:5000;e:Sine.easeInOut;yym:t;" style="z-index:33;"><img src="../static/revslider/assets/slider23.png" alt="qloud" width="104" height="90" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-9" class="rs-pxl-2" data-type="image" data-rsp_ch="on" data-xy="xo:1279px,909px,529px,320px;yo:675px,480px,640px,597px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:89px,63px,47px,28px;h:76px,54px,41px,25px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2300;sp:1000;sR:2300;" data-frame_999="o:0;st:w;sR:5700;" data-loop_999="sX:0.8;sY:0.8;sp:5000;e:Power0.easeInOut;yys:t;yyf:t;" style="z-index:14;"><img src="../static/revslider/assets/slider22.png" alt="qloud" width="89" height="76" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-10" class="rs-pxl-2" data-type="image" data-rsp_ch="on" data-xy="xo:842px,598px,213px,108px;yo:396px,281px,470px,478px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:89px,63px,47px,28px;h:76px,54px,41px,25px;" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2300;sp:1000;sR:2300;" data-frame_999="o:0;st:w;sR:5700;" data-loop_999="sX:0.8;sY:0.8;sp:5000;e:Power0.easeInOut;yys:t;yyf:t;" style="z-index:15;"><img src="../static/revslider/assets/slider22.png" alt="qloud" width="89" height="76" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-11" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:418px,297px,478px,294px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:26;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-12" data-type="image" data-rsp_ch="on" data-xy="xo:1230px,874px,505px,311px;yo:353px,251px,441px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:16;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-14" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:384px,273px,460px,283px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:27;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-15" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:316px,224px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:23;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-17" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:314px,223px,421px,259px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:30;"><img src="../static/revslider/assets/slider27.png" alt="qloud" width="97" height="56" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-18" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:350px,248px,441px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:22;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-20" data-type="image" data-rsp_ch="on" data-xy="xo:1285px,913px,533px,328px;yo:385px,273px,459px,283px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2600;sp:1000;sR:2600;" data-frame_999="o:0;st:w;sR:5400;" style="z-index:21;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-21" data-type="image" data-rsp_ch="on" data-xy="xo:1230px,874px,504px,310px;yo:320px,227px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:2900;sp:1000;sR:2900;" data-frame_999="o:0;st:w;sR:5100;" style="z-index:17;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-22" data-type="image" data-rsp_ch="on" data-xy="xo:1229px,873px,504px,310px;yo:253px,179px,387px,238px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:19;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-23" data-type="image" data-rsp_ch="on" data-xy="xo:1229px,873px,504px,310px;yo:287px,204px,405px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:18;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-24" data-type="image" data-rsp_ch="on" data-xy="xo:1226px,871px,503px,310px;yo:253px,179px,388px,239px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:20;"><img src="../static/revslider/assets/slider27.png" alt="qloud" width="97" height="56" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-25" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,532px,328px;yo:283px,201px,404px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:56px,39px,29px,17px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3800;sp:1000;sR:3800;" data-frame_999="o:0;st:w;sR:4200;" style="z-index:25;"><img src="../static/revslider/assets/slider27.png" alt="qloud" width="97" height="56" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-26" data-type="image" data-rsp_ch="on" data-xy="xo:1284px,913px,533px,328px;yo:282px,200px,405px,249px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:24;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-27" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,561px,346px;yo:350px,248px,442px,272px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3200;sp:1000;sR:3200;" data-frame_999="o:0;st:w;sR:4800;" style="z-index:28;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
                <rs-layer id="slider-2-slide-2-layer-28" data-type="image" data-rsp_ch="on" data-xy="xo:1338px,951px,560px,345px;yo:316px,224px,423px,260px;" data-text="w:normal;s:20,14,10,6;l:0,17,12,7;" data-dim="w:97px,68px,51px,31px;h:89px,63px,47px,28px;" data-vbility="t,t,t,f" data-frame_0="y:-50,-35,-26,-16;" data-frame_1="st:3500;sp:1000;sR:3500;" data-frame_999="o:0;st:w;sR:4500;" style="z-index:29;"><img src="../static/revslider/assets/slider25.png" alt="qloud" width="97" height="89" data-no-retina>
                </rs-layer>
                <!--
  -->
            </rs-slide>
        </rs-slides>
        <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
    </rs-module>
    <script>
        if (typeof revslider_showDoubleJqueryError === "undefined") {
            function revslider_showDoubleJqueryError(sliderID) {
                var err = "<div class='rs_error_message_box'>";
                err += "<div class='rs_error_message_oops'>Oops...</div>";
                err += "<div class='rs_error_message_content'>";
                err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                err += "</div>";
                err += "</div>";
                jQuery(sliderID).show().html(err);
            }
        }
    </script>
</rs-module-wrap>
 <!-- Pricing Start -->
 <section class="iq-pricing-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                    <div class="iq-title-icon">
                    </div>
                    <span class="iq-subtitle">Pricing</span>
                    <h2 class="iq-title">
                        Choose Pricing Plan	</h2>

                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">1 Residential rotating proxy port</span>
                        <h4 class="iq-price">$13<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">13$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">5 Residential rotating proxy ports</span>
                        <h4 class="iq-price">$48<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">9.6$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">10 Residential rotating proxy ports</span>
                        <h4 class="iq-price">$85<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">8.5$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">20 Residential rotating proxy ports</span>
                        <h4 class="iq-price">$155<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">7.7$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">50 Residential rotating proxy ports</span>
                        <h4 class="iq-price">$360<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">7.2$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="iq-price-container iq-price-table-6 text-center iq-box-shadow">
                    <div class="iq-price-header">
                        <span class="iq-price-label">100 Residential rotating proxy port</span>
                        <h4 class="iq-price">$690<span class="iq-price-desc">/mo</span></h4>
                        <p class="iq-price-description">6.9$ for each port</p>
                    </div>
                    <div class="iq-price-body">
                        <ul class="iq-price-service">
                            <li class="inactive">
                                <span>Unlimited Bandwidth</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited threads</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Unlimited access points</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>200k IPs pool</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>5 minutes IP rotation for each port</span>

                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Whitelist access</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>United States</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Highly anonymous</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                            <li class="inactive">
                                <span>Instant delivery</span>
                                <i aria-hidden="true" class=""></i>
                            </li>
                        </ul>
                    </div>
                    <div class="iq-price-footer">
                        <div class="iq-btn-container">
                            <a class="iq-button iq-btn-round d-inline" href="http://account.skynetix.io/signup/">
                                    Buy now
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Pricing End -->
<section >
    <img src="../static/images/others/shape1.png" class="img-fluid shape-right" alt="QLOUD">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-sm-12 mb-lg-0 mb-4 wow fadeInLeft">
             <img src="../static/images/others/08.png" class="img-fluid" alt="qloud">
          </div>
          <div class="col-lg-6 col-sm-12 wow fadeInRight">
             <div class=" text-left iq-title-box iq-title-default iq-title-box-2">
                <div class="iq-title-icon">
                </div>
                <h2 class="iq-title text-capitalize">
                About Residential Proxies</h2>
                <p class="iq-title-desc pr-lg-5">Residential IPs are genuine and more trustworthy compared to other types of proxies. Depending on your browsing needs, one can use residential proxies for different purposes, the main aim of Residential proxies 
                    is to surf the web anonymously avoiding any type of block due the nature of this type of proxy, that should be undetectable, it means you will be able to complete any task as you were using your real home router.
                </p></div>
                <div class="iq-btn-container">
                   <a class="iq-button iq-btn-round has-icon btn-icon-right d-inline" href="#">
                      Read More
                   </a>
                </div>
             </div>
          </div>
       </div>
    </section>
{% endblock %}
{% block script %}
<!-- REVOLUTION JS FILES -->
<script src="../static/../static/revslider/js/revolution.tools.min.js"></script>
<script src="../static/../static/revslider/js/rs6.min.js"></script>
<script >
   var   revapi9,
   tpj;
   jQuery(function() {
   tpj = jQuery;
   if(tpj("#rev_slider_9_1").revolution == undefined){
   revslider_showDoubleJqueryError("#rev_slider_9_1");
   }else{
   revapi9 = tpj("#rev_slider_9_1").show().revolution({
   jsFileLocation:"js/",
   sliderLayout:"fullwidth",
   visibilityLevels:"1240,1240,778,480",
   gridwidth:"1600,1600,778,480",
   gridheight:"900,900,960,720",
   spinner:"spinner0",
   editorheight:"900,768,960,720",
   responsiveLevels:"1240,1240,778,480",
   disableProgressBar:"on",
   navigation: {
   onHoverStop:false
   },
   fallbacks: {
   allowHTML5AutoPlayOnAndroid:true
   },
   });
   }
   
   });
</script>
    <script>
        var revapi2,
            tpj;
        jQuery(function() {
            tpj = jQuery;
            if (tpj("#rev_slider_2_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_2_1");
            } else {
                revapi2 = tpj("#rev_slider_2_1").show().revolution({
                    jsFileLocation: "js/",
                    sliderLayout: "fullwidth",
                    visibilityLevels: "1240,1024,778,480",
                    gridwidth: "1440,1024,778,480",
                    gridheight: "789,600,700,650",
                    spinner: "spinner0",
                    editorheight: "789,600,700,650",
                    responsiveLevels: "1240,1024,778,480",
                    disableProgressBar: "on",
                    navigation: {
                        onHoverStop: false
                    },
                    parallax: {
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 30],
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 0
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });
            }

        });
    </script>
{% endblock %}